<article class="box-shadow">
    <header>
        <h3 class="title">{{ chartTitle }}</h3>
        <i class="material-icons-outlined icon">menu</i>
    </header>

    <div class="body">
        <div class="progress" data-percentage="45">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="progress-value">
                <div>
                    <span class="value">45%</span>
                    <span class="legend">completado</span>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="stat">
            <span class="title">Ingresos</span>
            <span class="value">318,240 COP</span>
        </div>
        <div class="stat">
            <span class="title">Egresos</span>
            <span class="value">84,312 COP</span>
        </div>
    </div>
<article>