header {
    display: flex;
    margin-bottom: .5em;
    align-items: center;
    justify-content: space-between;
    
    .title-filter {
        gap: 2em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            margin: 0;
            font-size: 1.5em;
        }
    }
}