<section class="filtros">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
        <mat-form-field appearance="outline" class="filtro wide">
            <mat-label>Tienda / Bodega</mat-label>
            <mat-select formControlName="tienda">
                <mat-option value="">Seleccionar</mat-option>
                <mat-option *ngFor="let option of tiendas" [value]="option.ID">
                    {{ option.DESCRIPCION }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="filtro">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado">
                <mat-option value="">Seleccionar</mat-option>
                <mat-option *ngFor="let option of estados" [value]="option.ID_ESTADO">
                    {{ option.NOMBRE }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="filtro">
            <mat-label>Fecha inicio</mat-label>
            <input 
                readonly 
                matInput 
                formControlName="fechaInicio"
                [matDatepicker]="pickerFechaInicio">
            <mat-datepicker-toggle matSuffix [for]="pickerFechaInicio"></mat-datepicker-toggle>
            <mat-datepicker #pickerFechaInicio></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="filtro">
            <mat-label>Fecha Fin</mat-label>
            <input 
                readonly 
                matInput 
                formControlName="fechaFin"
                [matDatepicker]="pickerFechaFin" 
                [min]="form.controls.fechaInicio?.value?._d">
            <mat-datepicker-toggle matSuffix [for]="pickerFechaFin"></mat-datepicker-toggle>
            <mat-datepicker #pickerFechaFin></mat-datepicker>
        </mat-form-field>
        
        <button type="submit" class="search" mat-raised-button color="primary">
            <i class="material-icons-outlined">search</i>
        </button>
        <button 
            type="button" 
            mat-raised-button 
            (click)="onFormReset()" 
            id="notifications-icon"
            matTooltip="Limpiar filtros">
            <i class="material-icons-outlined">search_off</i>
        </button>
    </form>
</section>