@import "src/colores";

.filtros {
    padding: .4em 0;

    form {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .filtro.wide {
            width: 280px;
        }

        .filtro {
            width: 165px;
            margin-right: 1.2em;
            ::ng-deep .mat-form-field-underline { display: none; }
        }
        ::ng-deep .mat-form-field-infix { 
            margin: 0;
            display: flex;
            font-size: .9em;
            padding: 10px 0;
            align-items: center;
            justify-content: center;
        }
        ::ng-deep .mat-form-field-wrapper { 
            margin: 0;
            padding: 0;
        }
        button.search {
            margin-right: .7em;
        }
        button {
            width: 45px;
            min-width: 45px;
            padding: 0 10px;
        }
    }
}