<section class="cards-wrapper">
    <ng-template [ngIf]="showSpinner" [ngIfElse]="content">
        <app-facebook-loader></app-facebook-loader>
    </ng-template>
    
    <ng-template #content>
        <article 
        *ngFor="let data of dataSource"
        class="card box-shadow animate__animated animate__fadeIn animate_faster"> 
            <div class="header">
                <h3 class="title">{{ data.DESCRIPCION }}</h3>
                <i 
                    matTooltip="Ver Detalles"
                    (click)="onRedirect(data.PATH)" 
                    class="material-icons-outlined icon">event</i>
            </div>

            <div class="body">
                <p class="count">{{ data.CUENTA }}</p>
                <span class="percent">{{ data.PORCENTAJE }}%</span>
            </div>
        </article>
    </ng-template>
</section>