<article class="box-shadow">
    <header>
        <h3 class="title">{{ chartTitle }}</h3>
        <i class="material-icons-outlined icon" matTooltip="Centro de ayuda">help_outline</i>
    </header>

    <div class="body">
        <!-- <mat-progress-bar mode="determinate" value="40"></mat-progress-bar> -->
    </div>

    <div class="footer">
        <div class="stat">
            <span class="title">Some stat</span>
            <span class="value">318,240</span>
        </div>
        <div class="stat">
            <span class="title">Some stat</span>
            <span class="value">84,312</span>
        </div>
    </div>
<article>