// Estos no son institucionales, 
// Estos son los colores institucionales
$black: #000;
$white: #fff;
$greey: #9ea1a9;
$success: #56af31;
$primary: #0071ce;
$warning: #bf0411;
$terceary: #fbd500;
$grey-dark:#5e5c5c;
$secundary: #dd0021;
$zebraGris: #ebebeb;
$zebraAzul: #e5f1fa;
$zebraGris: #ebebeb;
$azulBorde: #0071ce;
$subGreey: #f9f8f8;
$greey-white: #e9e9e9;

// Estos no son institucionales, 
// esto los puso Victor Pinedo
$gris-500: #707070;
$gris-400: #9e9b9b;
$gris-300: #a8a8a8;
$gris-200: #eff4f7;
$gris-100: #f5f8fa;

// Estos no son institucionales, 
// esto los puso Victor Pinedo
$azul-500:#001a5a;
$azul-400: #0133af;
$azul-300: #3f4f97;
$azul-200: #0246f3;
$azul-100: #f0f7ff;
$azul-50: #eff6fe;
