<section class="row">
    <app-header></app-header>
</section>

<section class="row">
    <app-card class="col-md-2"></app-card>

    <div class="col-md-10">
        <section class="row">
            <app-line-chart class="col-md-6"></app-line-chart>
            <app-bar-chart class="col-md-6"></app-bar-chart>
        </section>

        <section class="row mt-4">
            <app-progress-circle class="col-md-3"></app-progress-circle>
            <app-progress-circle-2 class="col-md-3"></app-progress-circle-2>
            <app-pie-chart class="col-md-3"></app-pie-chart>
            <app-pie-chart-2 class="col-md-3"></app-pie-chart-2>
        </section>
    </div>
</section>